* {
  box-sizing: border-box;
}
body {
  font-family: Arial, Helvetica, sans-serif  
  background-color: rgba(247, 247, 255, 0.74);
}

main {
  width: 1200px;

  margin: 50px auto;
}
img {
  float: right;
  margin-left: 20px;
}

a {
  text-decoration: none;
  margin-left: 5px;
}
